In [ ]:
import pandas as pd

In [ ]:
coffee = pd.read_csv(r"complete-pandas-tutorial\warmup-data\coffee.csv")
coffee.index.name = 'ID'
bios = pd.read_csv(r"complete-pandas-tutorial\data\bios.csv")
bios.index = bios["athlete_id"]
bios = bios.drop("athlete_id",axis=1)
bios_new = bios.copy()

In [ ]:
bios_new['Category'] = bios_new['height_cm'].apply(lambda x : 'Short' if x<165 else('Avarage' if x < 185 else 'Tall'))
bios_new

In [ ]:
noc = pd.read_csv(r"complete-pandas-tutorial\data\noc_regions.csv")
noc

In [34]:
bios_noc = pd.merge(bios , noc , left_on='born_country',right_on='NOC',how='left',suffixes=('_left','_right'))
bios_noc.head()

,name,born_date,born_city,born_region,born_country,NOC_left,height_cm,weight_kg,died_date,NOC_right,region,notes
0,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [ ]:
not_things = bios_noc[bios_noc['NOC_right']!=bios_noc['born_country']]
not_things[['NOC_left','born_country','NOC_right']].head(10)

In [42]:
usa = bios_noc[bios_noc['born_country']=='USA'].copy()
gbr = bios_noc[bios_noc['born_country']=='GBR'].copy()
Ind = bios_noc[bios_noc['born_country']=='IND'].copy()

In [43]:
Ind.head()

,name,born_date,born_city,born_region,born_country,NOC_left,height_cm,weight_kg,died_date,NOC_right,region,notes
80,George Caridia,1869-02-20,Kolkata (Calcutta),West Bengal,IND,Great Britain,NaN,NaN,1937-04-21,IND,India,NaN
101,Algernon Kingscote,1888-02-03,Bengaluru (Bangalore),Karnataka,IND,Great Britain,NaN,NaN,1964-12-21,IND,India,NaN
270,Nora Polley,1894-07-29,Budaun,Uttar Pradesh,IND,India,NaN,NaN,1988-01-01,IND,India,NaN
273,Zeeshan Ali,1970-01-01,Kolkata (Calcutta),West Bengal,IND,India,180.0,64.0,NaN,IND,India,NaN
274,Anand Amritraj,1952-03-20,Chennai (Madras),Tamil Nadu,IND,India,185.0,77.0,NaN,IND,India,NaN